html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #bdbdbd;
  overflow: hidden;
}

textarea {
    font-family: 'Marck Script',cursive;
    height: 100%;
    width: 100%;
	resize: none;
}

h1 {
  font-size: 2em;
  color: #454545;
  text-shadow: 0 1px #fff;
  display: inline;
}

span {
  margin-left: 50px;
}

@-moz-document url-prefix() {
  .ta_container {
    padding: 105px 20px 20px 20px;
  }
}

#fork {
	z-index:99999;
	background: #007bff;
    width: 215px;
    height: 24px;
    position: absolute;
    transform: rotate(40deg);
    right: -35px;
    top: 45px;
}
#fork a {
	color: whitesmoke;
	font-weight: bold;
}

#copybtn {
	height: 8% !important;
}

#boxing {
	height: 70%;
}

#boxing * {
	height: 100%;
}